!!! 5
html
	head
		meta(charset='utf-8')
		title= site.title
		!= getBlock('meta').toHTML()
		!= getBlock('styles').add(['/styles/main.css']).toHTML()
	body
		!= content
		// Application container
		#page Loading..

		// build:js /scripts/main.js
		script(src="/scripts/requirejs.js")
		script(src="/scripts/main.js")
		// endbuild

		- if (typeof(scripts) !== 'undefined') {
			!= scripts
		- }

		if getEnvironment() == 'development'
			// Ok, because there are known issues with socket.io client when using in
			// tandem with RequireJS, see for details:
			// https://github.com/docpad/docpad-plugin-livereload/issues/5
			// we inject this custom live-reload module that fixes that
			script require(['modules/live-reload'])
		!= getBlock('scripts').toHTML()
